// Styling for the navbar
#mainNav {
  background-color: white;
  .navbar-toggler {
    font-size: 20pt;
    right: 0;
    padding: 13px;
    text-transform: none;
    color: $theme-dark-gray;
    border: 0;
    background-color: white;
    @include header1-font;
  }
  .navbar-brand {
    color: $theme-light-gray;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $theme-dark-gray;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 20pt;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $theme-light-gray;
        @include header1-font;
        &.active,
        &:hover {
          color: white;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: white;
    .navbar-brand {
      font-size: 20pt;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
