// Styling for the contact section
section#contact {
  background-color: $theme-primary;
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include header1-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    /* Firefox 18- */
    @include header1-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    /* Firefox 19+ */
    @include header1-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-lighter;
    @include header1-font;
  }
  .text-danger {
    color: $theme-danger;
  }
}


.fa {
  padding: 40px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social-media-row{
  height: 10em;
  display: flex;
  align-items: center
}

.button-space-right{
  margin-right: 100px;
}

.button-space-left{
  margin-left: 50px;
}

.button-space-bottom{
  margin-bottom: 150px;
}

.font-correction{
  font-family: "LilitaOne";
  font-size: 30px;
  font-weight: bold;
  color: white;
}