// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  background-color: #5d9ebe;
  color: white;
}

p {
  line-height: 1.75;
  font-size: 16pt;
  font-family: 'PT Sans', sans-serif;

}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1{
  font-weight: 700;
  @include header1-font;
}
h2
h3,
h4,
h5{
  font-weight: 400;
  @include header1-font;
}
h6 {
  @include body-font;
}

section {
  padding: 100px 0;
  h2.section-heading {
	//Title of each section font size
    font-size: 45pt;
    margin-top: 0;
    margin-bottom: 15px;
	font-weight: bold;
  }
  h3.section-subheading {
	//Subtitle of each section font size
    font-size: 32pt;
    font-weight: 400;
    margin-bottom: 75px;
    font-style: italiac;
    text-transform: none;
    @include header1-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}