// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/Homepage_HTH.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 36pt;
      font-weight: 700;
      font-style: none;
      line-height: 22px;
      margin-bottom: 25px;
      @include header1-font;
    }
    .intro-heading {
      font-size: 36pt;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include header1-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
		//"Welcome To" on top of wallpaper font size
        font-size: 95pt;
        font-style: none;
		//Size of front page Welcome to House the Hub wallpaper
        line-height: 255px;
        margin-bottom: 25px;
        @include header1-font;
      }
      .intro-heading {
		//"House the hub!" on top of wallpaper font size
        font-size: 125px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include header1-font;
      }
    }
  }
}
